//Colors

$primary-green-blue: #29b199;
$primary-bg: white;
$primary-ghost-color: #fefefe;

//Fonts
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
$primary-font: Avenir, Helvetica, Arial, sans-serif;
$primary-h1-font: "Abril Fatface", cursive;

//responsive

$breakpoin-small: 350px;
$breakpoin-medium: 600px;
$breakpoin-big: 800px;
